<nav class="navbar navbar-static-top navbar-inverse bg-inverse">
      <div class="container-fluid text-center">
        <h2 style="color:white">ExcelParser</h2>
      </div>
</nav>

<div class="container">
    <div calss = "row">
        <div>
            <br/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-default" ng-class="{hidden: vm.hidden}">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <span class="glyphicon glyphicon-th-list"></span> 已上传文件
                        <span class="pull-right">
      <span class="glyphicon" ng-class="vm.collapsed?'glyphicon-chevron-down':'glyphicon-chevron-up'"
            ng-click="vm.collapsed = !vm.collapsed"></span> &nbsp;
                        <!--<span class="glyphicon glyphicon-remove" ng-click="vm.hidden = true"></span>-->
                        </span>
                    </h4>
                </div>
                <div class="panel-collapse collapse" ng-class="{in: !vm.collapsed}">
                    <div class="panel-body">
                        <ul>
                            <a class="glyphicon glyphicon-file" ng-repeat="file in filelist" ng-click="showExcel(file)">{{file.fileName}}</a>
                        </ul>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary glyphicon glyphicon-upload">上传文件</button>
        </div>
        <div class="col-md-1">

        </div>
        <div class="col-md-9">
            <div class="bootstrap">
                <div class="fixed-table-toolbar"></div>
                <div class="fixed-table-container">
                    <div class="fixed-table-header" style="display: none;">
                        <table></table>
                    </div>
                    <table class="table table-bordered">

                        <tbody>
                            <tr ng-repeat="row in rows">
                                <td ng-repeat="cell in row">
                                    {{cell}}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>
</div>