<nav class="navbar navbar-static-top navbar-inverse bg-inverse">
    <div class="container-fluid text-center">
        <h2 style="color:white">ExcelParser</h2>
    </div>
</nav>

<div class="container-fluid">
    <div calss="row">
        <div>
            <br/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div ng-include="'view1/filePanel.html'" ng-controller='View1Ctrl'>
            </div>
            <div>
                <button class=" btn btn-lg glyphicon glyphicon-upload file">上传文件
                    <input type="file" nv-file-select="" uploader="uploader" multiple />
                </button>
                <span class=" btn btn-lg glyphicon glyphicon-file" ng-click="vm.buttonShow = !bm.buttonShow"> {{ uploader.queue.length }}</span>
                <div>
                    <br/>
                    <!--<span class="btn btn-lg glyphicon glyphicon-cloud-upload"> </button>-->
                </div>

            </div>

            <br/>



        </div>
        <div class="col-md-1">
            <div>
                <button class="btn btn-lg glyphicon glyphicon-eye-open" data-toggle="modal" data-target="#myModal" ng-click="showPreview(checkboxList,fileToShow)"> </button>
            </div>
            <br/>
            <div>
                <button ng-click="isSetted=!isSetted" ng-init="isSetted = false" class="glyphicon glyphicon-cog"> </button>
                <span ng-if="isSetted" class="btn" ng-click="isMulti = !isMulti" ng-init="isMulti = false">{{isMulti?'多文件':'单文件'}}</span>
                <br/>
                <button ng-if="isMulti" class="btn btn-lg" ng-click="pushRenderInfo()">{{renderList.length}}</button>
                <br/>
                <button ng-if="isMulti" class="btn btn-lg" ng-click="clearRenderList()">clear</button>
                <br/>
            </div>
        </div>
        <div class="col-md-8" ng-include="'view1/excel.html'" ng-controller="View1Ctrl">
        </div>

    </div>

    <div ng-include="'view1/preview.html'" ng-controller="View1Ctrl"></div>

</div>